.rootDiv{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: left !important; 
}
.nodeDiv{
    -webkit-box-shadow: 5px 7px 15px 2px rgba(0,0,0,0.54);
    -moz-box-shadow: 5px 7px 15px 2px rgba(0,0,0,0.54);
    box-shadow: 5px 7px 15px 2px rgba(0,0,0,0.54);
    display:flex;
    margin-bottom: 20px;
    justify-items: center
}

.divInsideNode{
    width: 200px;
    height: 250px;
    background-color: #edeae4;
    display: flex;
    text-align: center;
}

.divInsideNode > span {
    margin: auto;
    color: #4A4A4A;
    font-size: 20px;
    font-family : fantasy;
    font-weight: 600 ;
    letter-spacing: -0.826532px
}

.contentDiv{
    display: flex;
}

.svgDiv {
    width: 260px;
    position: relative;
}
