
.iconInsideDiv{
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 24px;
    border-radius: 70%;
    cursor: pointer;
    margin-left: 5px;
}

.Header {
    background-color:  #888b8e !important;
    height: 48px !important;
}

.usernameDiv{
    padding: 8px;
    float: right;
    color: white;
    margin-right: 10px;
    font-size: 16px;
    text-align: center;
    align-items: center;
   justify-content: center;
   display: flex;
}
