.Userdiv{
    text-align: left !important;
}

.pageTitle {
    width: 100%;
    text-align: center !important;
    color: darkviolet;
    font-size: 20px;
    border-bottom: 1px darkblue solid;
    height: 50px;
} 

.buttondiv{
    margin: 10px !important;
}

.title {
    width: 100%;
    padding: 30px 0 60px 0;
    font-size: 36px;
    color: #4A4A4A;
    font-family: fantasy;
    font-weight: 600;
    letter-spacing: -0.826532px;
    display: flex;
    justify-content: center;
    align-items: center;
}
